@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5rem;
}

.about {
    margin-bottom: 3rem;
}

.card-title {
    height: 3.3rem;
}

.card-text {
    height: 6rem;
}
