body {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5rem;
}

em {
    display: block;
    font-style: normal;
    margin-bottom: 3rem;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.card-title {
    height: 3.3rem;
}

.card-text {
    height: 6rem;
}
